<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="akavache" version="6.3.2" targetFramework="monoandroid80" />
  <package id="akavache.core" version="6.3.2" targetFramework="monoandroid80" />
  <package id="akavache.sqlite3" version="6.3.2" targetFramework="monoandroid80" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="2.2.0" targetFramework="monoandroid80" />
  <package id="Microsoft.Extensions.Caching.Memory" version="2.2.0" targetFramework="monoandroid80" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.2.0" targetFramework="monoandroid80" />
  <package id="Microsoft.Extensions.Options" version="2.2.0" targetFramework="monoandroid80" />
  <package id="Microsoft.Extensions.Primitives" version="2.2.0" targetFramework="monoandroid80" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="monoandroid80" />
  <package id="Newtonsoft.Json.Bson" version="1.0.2" targetFramework="monoandroid80" />
  <package id="Splat" version="6.1.7" targetFramework="monoandroid80" />
  <package id="SQLitePCLRaw.bundle_e_sqlite3" version="1.1.13" targetFramework="monoandroid80" />
  <package id="SQLitePCLRaw.core" version="1.1.13" targetFramework="monoandroid80" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.android" version="1.1.13" targetFramework="monoandroid80" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.android" version="1.1.13" targetFramework="monoandroid80" />
  <package id="Square.OkHttp" version="2.4.0.0" targetFramework="monoandroid80" />
  <package id="Square.OkIO" version="1.5.0.0" targetFramework="monoandroid80" />
  <package id="Square.Picasso" version="2.5.2.1" targetFramework="monoandroid80" />
  <package id="System.Buffers" version="4.4.0" targetFramework="monoandroid80" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="monoandroid80" />
  <package id="System.Diagnostics.Contracts" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Memory" version="4.5.1" targetFramework="monoandroid80" />
  <package id="System.Reactive" version="4.0.0" targetFramework="monoandroid80" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="monoandroid80" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.3.0" targetFramework="monoandroid80" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Compat" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Core.UI" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Core.Utils" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Fragment" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Media.Compat" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="24.2.1" targetFramework="monoandroid70" />
</packages>